<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">Edit Slope</h1>
  <div class="col-6 offset-3">
    <form
      action="/slopes/<%= slope._id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          autocomplete="off"
          class="form-control"
          type="text"
          id="title"
          name="slope[title]"
          value="<%= slope.title %> "
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          autocomplete="off"
          class="form-control"
          type="text"
          id="location"
          name="slope[location]"
          value="<%= slope.location %> "
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Image Url</label>
        <input
          autocomplete="off"
          class="form-control"
          type="text"
          id="image"
          name="slope[image]"
          value="<%= slope.image %> "
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="difficulty">Difficulty</label>
        <div class="input-group">
          <span class="input-group-text" id="difficulty-label">10</span>
          <input
            type="text"
            class="form-control"
            id="difficulty"
            placeholder="0"
            aria-describedby="difficulty-label"
            name="slope[difficulty]"
            value="<%= slope.difficulty %> "
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Description</label>
        <textarea
          autocomplete="off"
          class="form-control"
          type="text"
          id="description"
          name="slope[description]"
          required
        >
<%= slope.description %></textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update Slope</button>
      </div>
    </form>
    <a href="/slopes/<%= slope._id %> ">Back to Slope</a>
  </div>
</div>
